.genealogy-scroll {
  &::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }

  &::-webkit-scrollbar-track {
    @apply bg-[#e4e4e4];
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-[#212121] transition-all duration-500;

    &:hover {
      @apply bg-[#d5b14c] transition-all duration-500;
    }
  }
}

.genealogy-body {
  @apply whitespace-nowrap min-h-[500px] max-h-[calc(100vh-55px)] p-0 py-[50px] px-[50px];
}

.genealogy-tree {
  ul {
    @apply pt-[20px] relative pl-0 flex;
  }

  li {
    @apply float-left text-center list-none relative p-0 py-[20px] px-[5px];

    &::before, &::after {
      content: '';
      @apply absolute top-0 right-[50%] border-t-2 border-[#ccc] w-[50%] h-[18px];
    }

    &::after {
      @apply right-auto left-[50%] border-l-2 border-[#ccc];
    }

    &:only-child {
      &::after, &::before {
        @apply hidden;
      }

      @apply pt-0;
    }

    &:first-child {
      &::before {
        @apply border-0 border-none;
      }

      &::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }
    }

    &:last-child {
      &::before {
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        @apply border-r-2 border-[#ccc];
      }

      &::after {
        @apply border-0 border-none;
      }
    }
  }

  ul {
    ul {
      &::before {
        content: '';
        @apply absolute top-0 left-[50%] border-l-2 border-[#ccc] w-0 h-[20px];
      }
    }
  }

  li {
    a {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      @apply no-underline text-[#666] font-sans text-xs inline-block rounded;

      &:hover {
        + ul {
          li {
            &::after, &::before {
              @apply border-[#fbba00];
            }
          }

          &::before, ul {
            &::before {
              @apply border-[#fbba00];
            }
          }
        }
      }
    }
  }
}

.member-view-box {
  @apply p-0 px-[20px] text-center rounded relative;
}

.member-image {
  @apply w-[60px] relative;
}
